In [2]:
information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'programmar'}

In [4]:
print(information["firstName"])

hossein

In [5]:
print(len(information))

4

In [6]:
information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar",
    "cars" : ["ford", "ferrari", "toyota", "bmw", "benz"]
}
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'programmar', 'cars': ['ford', 'ferrari', 'toyota', 'bmw', 'benz']}

In [7]:
print(type(information))

<class 'dict'>

In [8]:
information = dict(name = "hossein", age = 23, country = "Iran", city = "nowshahr")
print(information)

{'name': 'hossein', 'age': 23, 'country': 'Iran', 'city': 'nowshahr'}

In [9]:
a = information["name"]
print(a)

hossein

In [10]:
# get()

a = information.get("name")
print(a)

hossein

In [12]:
# keys()

a = information.keys()
print(a)

dict_keys(['name', 'age', 'country', 'city'])

In [3]:
information["color"] = "blue"
print(a)

NameError: name 'information' is not defined

In [4]:
# values()

a = information.values()
print(a)

NameError: name 'information' is not defined

In [5]:
# item()

a = information.items()
print(a)

NameError: name 'information' is not defined

In [6]:
if "age" in information:
    print("Yes, it's in the information")

NameError: name 'information' is not defined

In [7]:
# Update Dictionary

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
information.update({"job" : "master"})
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'master'}

In [10]:
# Adding Items

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
information["color"] = "blue"
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'programmar', 'color': 'blue'}

In [11]:
information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
information.update({"color" : "blue"})
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'programmar', 'color': 'blue'}

In [12]:
# pop()

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
information.pop("age")
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'job': 'programmar'}

In [13]:
# popitem()

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
information.popitem()
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23}

In [14]:
# del

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
del information["age"]
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'job': 'programmar'}

In [15]:
information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
del information
print(information)
#this will cause an error because "thisdict" no longer exists.

NameError: name 'information' is not defined

In [16]:
# Loop

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
for item in information:
    print(item)

firstName
lastName
age
job

In [23]:
information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
for item in information:
    print(information[item])
# or
for item in information.values():
    print(item)
# returning keys:
for keys in information.keys():
    print(keys)

hossein
mollamohammadi
23
programmar
hossein
mollamohammadi
23
programmar
firstName
lastName
age
job

In [25]:
# items()

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
for keys, values in information.items():
    print(keys, values)

firstName hossein
lastName mollamohammadi
age 23
job programmar

In [26]:
# Copy a Dictionary

# dict()

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
newDict = dict(information)
print(newDict)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'programmar'}

In [29]:
# copy()

information = {
    "firstName" : "hossein",
    "lastName" : "mollamohammadi",
    "age" : 23,
    "job" : "programmar"
}
information2 = information.copy()
print(information)

{'firstName': 'hossein', 'lastName': 'mollamohammadi', 'age': 23, 'job': 'programmar'}

In [31]:
students = { "st1" : { "name" : "hossein",
                       "age" : 23 },
             "st2" : { "name" : "hamid",
                       "age" : 22 },
             "st3" : { "name" : "keyvan",
                       "age" : 25 }
           }
print(students)

{'st1': {'name': 'hossein', 'age': 23}, 'st2': {'name': 'hamid', 'age': 22}, 'st3': {'name': 'keyvan', 'age': 25}}

In [32]:
st1 = { "name" : "hossein",
          "age" : 23 
        }
st2 = { "name" : "hamid",
          "age" : 22 
        }
st3 = { "name" : "keyvan",
        "age" : 25 
      }
students = {
    "st1" : st1,
    "st2" : st2,
    "st3" : st3
}
print(students)

{'st1': {'name': 'hossein', 'age': 23}, 'st2': {'name': 'hamid', 'age': 22}, 'st3': {'name': 'keyvan', 'age': 25}}

In [33]:
students = { "st1" : { "name" : "hossein",
                       "age" : 23 },
             "st2" : { "name" : "hamid",
                       "age" : 22 },
             "st3" : { "name" : "keyvan",
                       "age" : 25 }
           }
print(students["st1"]["age"])

23

In [38]:
students = { "st1" : { "name" : "hossein",
                       "age" : 23 },
             "st2" : { "name" : "hamid",
                       "age" : 22 },
             "st3" : { "name" : "keyvan",
                       "age" : 25 }
           }
for a, obj in students.items():
    print(a)
    for b in obj:
        print(b + " : ", obj[b])

st1
name :  hossein
age :  23
st2
name :  hamid
age :  22
st3
name :  keyvan
age :  25