In [1]:
names = ["hossein", "ali", "milad"]
print(names)

['hossein', 'ali', 'milad']

In [2]:
# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [5]:
names = ["hossein", "ali", "mosen", "hossein"]
print(names)

['hossein', 'ali', 'mosen', 'hossein']

In [6]:
a = len(names)
print(a)

4

In [7]:
newList = ["banana", 49, 5.4, True]
print(newList)

['banana', 49, 5.4, True]

In [8]:
print(type(newList))

<class 'list'>

In [9]:
# The list() Constructor

names = list(("hossein", "ali", "ahmad"))
print(names)

['hossein', 'ali', 'ahmad']

In [11]:
a = names[1]
print(a)

ali

In [13]:
names = ["hossein", "ali", "ahmad", "mohsen", "mohammad"]
a = names[1:3]
b = names[:4]
print(a)
print(b)

['ali', 'ahmad']
['hossein', 'ali', 'ahmad', 'mohsen']

In [14]:
print("hossein" in names)

True

In [15]:
if "hossein" in names:
    print("Yes, hossein is in the name list.")
else:
    print("No, it doesen't exist.")

Yes, hossein is in the name list.

In [16]:
names = ["hossein", "ali", "ahmad", "mohsen", "mohammad"]
names[1] = "alireza"
print(names)

['hossein', 'alireza', 'ahmad', 'mohsen', 'mohammad']

In [18]:
names[1:3] = ["kiarash", "mahmoud"]
print(names)
names[1:2] = ["makan", "khalse"]
print(names)

['hossein', 'kiarash', 'mahmoud', 'mohsen', 'mohammad']
['hossein', 'makan', 'khalse', 'mahmoud', 'mohsen', 'mohammad']

In [ ]:
# adding item to the list

In [20]:
names = ["hossein", "ali", "kiarash"]
names.insert(1,"ahmad")
print(names)

['hossein', 'ahmad', 'ali', 'kiarash']

In [21]:
names.append("jahangir")
print(names)

['hossein', 'ahmad', 'ali', 'kiarash', 'jahangir']

In [22]:
names = ["hossein", "ali", "mohsen"]
family = ["mohammadi", "ansari", "kia"]
names.extend(family)
print(names)

['hossein', 'ali', 'mohsen', 'mohammadi', 'ansari', 'kia']

In [23]:
# extend tupple to list

names = ["hossein", "ali", "mohsen"]
family = ("mohammadi", "ansari", "kia")
names.extend(family)
print(names)

['hossein', 'ali', 'mohsen', 'mohammadi', 'ansari', 'kia']

In [24]:
# remove, del, pop, clear

names = ["hossein", "ali", "mohsen"]
names.remove("ali")
print(names)

['hossein', 'mohsen']

In [25]:
names = ["hossein", "ali", "mohsen","ali"]
names.remove("ali")
print(names)

['hossein', 'mohsen', 'ali']

In [26]:
names = ["hossein", "ali", "mohsen"]
names.pop(1)
print(names)

['hossein', 'mohsen']

In [27]:
names = ["hossein", "ali", "mohsen"]
names.pop()   # if you dont specify the index it pops out the last item
print(names)

['hossein', 'ali']

In [29]:
names = ["hossein", "ali", "mohsen"]
del names[1]
print(names)

['hossein', 'mohsen']

In [30]:
del names
print(names)
# cause error because names list has deleted

NameError: name 'names' is not defined

In [31]:
names = ["hossein", "ali", "mohsen"]
names.clear()
print(names)

[]

In [32]:
# loop

names = ["hossein", "ali", "mohsen"]
for name in names:
    print(name)

hossein
ali
mohsen

In [37]:
for name in range(len(names)):
    print(names[name])
 #   print(name)

hossein
ali
mohsen

In [39]:
i=0
while i<len(names):
    print(names[i])
    i += 1

hossein
ali
mohsen

In [40]:
names = ["hossein", "ali", "mohsen"]
[print(name) for name in names]

hossein
ali
mohsen

[None, None, None]

In [ ]:
# List comprehension

In [7]:
names = ["hossein", "ali", "mohsen", "milad", "ahmad"]
newList = []
for name in names:
    if "h" in name:
        newList.append(name)
print(newList)

['hossein', 'mohsen', 'ahmad']

In [8]:
newList = [name for name in names if "a" in name]
print(newList)

['ali', 'milad', 'ahmad']

In [4]:
names = ["hossein", "ali", "mohsen", "milad", "ahmad"]
newList = [name for name in names if name != "hossein"]
print(newList)

['ali', 'mohsen', 'milad', 'ahmad']

In [5]:
numbers = [num for num in range(10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
numbers = [num for num in range(10) if num < 6]
print(numbers)

[0, 1, 2, 3, 4, 5]

In [10]:
names = ["hossein", "ali", "mohsen", "milad", "ahmad"]
newList = [name.upper() for name in names]
newList2 = ["hossein" for name in names]
print(newList)
print(newList2)

['HOSSEIN', 'ALI', 'MOHSEN', 'MILAD', 'AHMAD']
['hossein', 'hossein', 'hossein', 'hossein', 'hossein']

In [13]:
names = ["hossein", "ali", "mohsen", "milad", "ahmad"]
newList = [name if name == "hossein" else "akbar" for name in names]
newList2 = [name if name != "hossein" else "akbar" for name in names]
print(newList)
print(newList2)

['hossein', 'akbar', 'akbar', 'akbar', 'akbar']
['akbar', 'ali', 'mohsen', 'milad', 'ahmad']

In [14]:
names.sort()
print(names)

['ahmad', 'ali', 'hossein', 'milad', 'mohsen']

In [ ]:
# sort list

In [16]:
numbers = [5, 7, 1, 8, 4, 9, 0, 10, 6, 2, 3]
numbers.sort()
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
numbers.sort(reverse=True)
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [20]:
# if you want a case-insensitive sort function, use str.lower as a key function

names = ["Hossein", "ali", "mohsen", "Milad", "ahmad"]
names.sort()
print(names)

['Hossein', 'Milad', 'ahmad', 'ali', 'mohsen']

In [22]:
#if you want a case-insensitive sort function, use str.lower as a key function

names = ["Hossein", "ali", "mohsen", "Milad", "ahmad"]
names.sort(key = str.lower)
print(names)

['ahmad', 'ali', 'Hossein', 'Milad', 'mohsen']

In [23]:
names.reverse()
print(names)

['mohsen', 'Milad', 'Hossein', 'ali', 'ahmad']

In [ ]:
# Copy Lists

In [24]:
names = ["hossein", "ali", "mohsen", "milad", "ahmad"]
newCopyList = names.copy()
print(newCopyList)

['hossein', 'ali', 'mohsen', 'milad', 'ahmad']

In [25]:
newCopyList2 = list(names)
print(newCopyList2)

['hossein', 'ali', 'mohsen', 'milad', 'ahmad']

In [26]:
# Join Two Lists

In [27]:
names = ["hossein", "farhad", "naser"]
family = ["mohammadi", "majidi", "hejazi"]
fullName = names + family
print(fullName)

['hossein', 'farhad', 'naser', 'mohammadi', 'majidi', 'hejazi']

In [32]:
names = ["hossein", "farhad", "naser"]
for item in family:
    names.append(item)
print(names)

['hossein', 'farhad', 'naser', 'mohammadi', 'majidi', 'hejazi']

In [33]:
names = ["hossein", "farhad", "naser"]
names.extend(family)
print(names)

['hossein', 'farhad', 'naser', 'mohammadi', 'majidi', 'hejazi']