In [3]:
# True and 1 is considered the same value
newSet = {"hossein", True, 1, 2}
print(newSet)

# False and 0 is considered the same value
newSet = {"hossein", False, 0, 4}
print(newSet)

{True, 'hossein', 2}
{False, 'hossein', 4}

In [4]:
# Constructor

newSet = set(("hossein", True, 1, 2))
print(newSet)

{True, 'hossein', 2}

In [2]:
names = {"hossein", "ali", "ahmad"}
for name in names:
    print(name)

hossein
ali
ahmad

In [3]:
# Add Items

names.add("hamid")
print(names)

{'hossein', 'ali', 'hamid', 'ahmad'}

In [5]:
# Add Sets

newNames = {"siavash", "asghar", "kobra"}
names.update(newNames)
print(names)

{'hossein', 'ali', 'kobra', 'hamid', 'ahmad', 'siavash', 'asghar'}

In [6]:
nameList = ["arash", "jahangir"]
names.update(nameList)
print(names)

{'hossein', 'ali', 'kobra', 'arash', 'siavash', 'ahmad', 'jahangir', 'asghar', 'hamid'}

In [16]:
# Remove() _ discard() _ pop()

names.remove("ali")
names.discard("hamid")   #  If the item to remove does not exist, discard() will NOT raise an error.
print(names)

KeyError: 'ali'

In [20]:
names = {"hossein", "ali", "ahmad"}
names.pop()              #  Sets are unordered, so when using the pop() method, you do not know which item that gets removed
print(names)

{'ali', 'ahmad'}

In [21]:
# Join Sets
#The union() and update() methods joins all items from both sets.
#The intersection() method keeps ONLY the duplicates.
#   Both union() and update() will exclude any duplicate items
#The difference() method keeps the items from the first set that are not in the other set(s).
#The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [25]:
names1 = {"hossein", "ali", "ahmad"}
names2 = {"saba", "sina", "sara"}
#names3 = names1.union(names2)
names3 = names1 | names2     # You can use the | operator instead of the union() method, and you will get the same result.
print(names3)

{'hossein', 'ali', 'saba', 'ahmad', 'sina', 'sara'}

In [28]:
names3 = {"samira"}
names4 = {"anahita"}
#namesUnion = names1.union(names2, names3, names4)
namesUnion = names1 | names2 | names3 | names4
print(namesUnion)

{'hossein', 'ali', 'saba', 'samira', 'ahmad', 'sina', 'anahita', 'sara'}

In [29]:
# The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [30]:
names1 = {"hossein", "ali", "ahmad"}
names2 = {"saba", "sina", "sara"}
names1.update(names2)
print(names1)

#The update() changes the original set, and does not return a new set.

{'hossein', 'ali', 'saba', 'ahmad', 'sina', 'sara'}

In [36]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

names1 = {"hossein", "ali", "ahmad"}
names2 = {"hossein", "sina", "sara"}
#namesUnion = names1.intersection(names2)
namesUnion = names1 & names2
print(namesUnion)
# The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.n

{'hossein'}

In [38]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

names1.intersection_update(names2)
print(names1)

{'hossein'}

In [41]:
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

names1 = {"hossein", "ali", "ahmad"}
names2 = {"hossein", "sina", "sara"}
#names = names1.difference(names2)
names = names1 - names2
print(names)
# The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

{'ali', 'ahmad'}

In [42]:
# The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.
names1 = {"hossein", "ali", "ahmad"}
names2 = {"hossein", "sina", "sara"}
names1.difference_update(names2)
print(names1)

{'ali', 'ahmad'}

In [44]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.

names1 = {"hossein", "ali", "ahmad"}
names2 = {"hossein", "sina", "sara"}
#names = names1.symmetric_difference(names2)
names = names1 ^ names2
print(names)
# The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

{'ali', 'sina', 'ahmad', 'sara'}

In [46]:
# The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.
names1 = {"hossein", "ali", "ahmad"}
names2 = {"hossein", "sina", "sara"}
names1.symmetric_difference_update(names2)
print(names1)

{'sina', 'ali', 'sara', 'ahmad'}