In [1]:
x = float(5)
y = int(4.8)
print(type(x),x)
print(type(y),y)

<class 'float'> 5.0
<class 'int'> 4

In [ ]:
# camel case :
myVariableName

# pascal case : 
MyVariableName

# snake case :
my_variable_name

In [2]:
x, y, z = "hossein", "ali", "hasan"
print(x)
print(y)
print(z)

hossein
ali
hasan

In [3]:
a = b = c = "hossein"
print(a)
print(b)
print(c)

hossein
hossein
hossein

In [4]:
# Unpack a Collection

names = ["hossein", "ali", "milad"]
a, b, c = names
print(a)
print(b)
print(c)

hossein
ali
milad

In [5]:
names = ["hossein", "ali", "milad"]
a, b= names
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [7]:
# Output Variables

a = "hossein "
b = "is a machine learning "
c = "engineer."
print(a, b, c)
print(a + b + c)

hossein  is a machine learning  engineer.
hossein is a machine learning engineer.

In [8]:
a = 2
b = 3
c = 6
print(a + b + c)

11

In [11]:
a = "hossein"
b = 3
# print(a + b)  cause Error
print(a, b)

hossein 3

In [13]:
# global variables

x = "hossein "
def nameMaker():
    x = "ali"
    print("my name is " + x)
nameMaker()
print("my name is " + x)

my name is ali
my name is hossein

In [17]:
def nameMaker():
    global x
    x = "hossein"
#nameMaker()
print("my name is " + x)

my name is hossein

In [30]:
# data types

# complex
h = 1j
print(h)
print(type(h))

# range
a = range(9)
print(a)
print(type(a))

1j
<class 'complex'>
range(0, 9)
<class 'range'>

In [34]:
# Type Conversion

a = 2
b = 3.5
print(type(a))
print(type(b))

x = float(a)
print(x)
print(type(x))

<class 'int'>
<class 'float'>
2.0
<class 'float'>

In [47]:
# Random Number

import random
a = random.randrange(1,10)
print(a)

2

In [53]:
# Multiline Strings

a = """ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\n """
print(a)
b = """ Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(b)

 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

 Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [54]:
name = "hossein"
print(name[2])

s

In [55]:
for i in name:
    print(i)

h
o
s
s
e
i
n

In [57]:
print(len(name))

7

In [58]:
print("h" in name)

True

In [63]:
if "g" in name:
    print("Yes, letter 'h' in the name.")
else:
    print("No, it doesen't exist!")

No, it doesen't exist!

In [64]:
print("f" not in name)

True

In [65]:
if "f" not in name:
    print("The letter 'f' is not in name")

The letter 'f' is not in name

In [72]:
# Slicing Strings

name = "hossein"
a = name[2:5]       # from 2 to not include 5
b = name[:5]        # from start to not include 5
c = name[2:]        # from 2 to the end
d = name[-2:-5]
e = name[-5:-3]
print(a)
print(b)
print(c)
print(d)
print(e)

sse
hosse
ssein

ss

In [74]:
# Modify Strings

a = name.upper()
print(a)

HOSSEIN

In [76]:
name = "Hamed"
print(name.lower())

hamed

In [77]:
# Remove Whitespace before and after the actual text

name = "  hossein  "
a = name.strip()
print(a)

hossein

In [78]:
# Replace String

name = "hossein"
a = name.replace("h", "t")
print(a)

tossein

In [80]:
a = name.split("s")
b = name.split("o")
print(a)
print(b)

['ho', '', 'ein']
['h', 'ssein']

In [81]:
name = "hossein"
second_name = "mollamohammdi"
full_name = name + " " + second_name
print(full_name)

hossein mollamohammdi

In [82]:
# F-Strings

name = "hossein"
age = 23
text = f"my name is {name}, and I'm {age}."
print(text)

my name is hossein, and I'm 23.

In [83]:
price = 59
txt = f"The price is {price:.2f} dollars"   
# A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals
print(txt)

The price is 59.00 dollars

In [85]:
txt = f"The price is {price * 4566} dollars"
print(txt)

The price is 269394 dollars

In [86]:
# Escape Characters

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [87]:
# Booleans

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [90]:
# Evaluate Values

print(bool("Hello"))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

In [92]:
def myFunction() :
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

In [93]:
# isinstance() function can be used to determine if an object is of a certain data type

x = 200
print(isinstance(x, int))

True